*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
}
#hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80%;
  max-width: 800px;
  margin: 50px auto;
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


#heroesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

#prevHero, #nextHero {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#prevHero {
  left: -40px;
}

#nextHero {
  right: -40px;
}


.hero {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
}

.hero-info {
  margin-top: 15px;
}

img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}
.anterior{
  transform: scaleX(-1);
}